@import "_var.scss";

#wtc .wtc-page {
    margin-top: $headerResetMargin;
}

#wtc .wtc-section {
    margin-bottom: $margin55px;
    
    .section-inner {
        margin: 0 10px;
    }
    .cont-tit-wrap {
        text-align: center;
        margin-bottom: 45px;

        h2 {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }
    
        p {
            font: {
                size: 1.2rem;
                weight: $fw-light;
            }
            line-height: 1.5;
        }
    }

    @include tabSwiperStyle();

    .wtc-cont-wrap {
        .wtc-cont {
            display: none;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.3s;

            &.cont-show {
                display: block;
                transform: none;
                opacity: 1;
            }

            &#seoul {display: block;}
        }
                
        .wtc-info-wrap {
            margin-bottom: 45px;
            padding: 0 15px;

            .company-name {
                font-size: 1.7rem;
                letter-spacing: 0;
                margin-bottom: 20px;
            }

            .wtc-info {

                &.wtc-info1 {
                    span {margin-right: 25px;}
                }

                span {
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: $fw-light;
                    line-height: 1.6;
                }
            }
        }

        .company-img-wrap {
            
            .wtc-swiper-outer {
                margin-bottom: 40px;
                padding: 0 15px;
                position: relative;
            }

            .wtc-swiper-name {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 13px;
                letter-spacing: 0;
            }

            .wtc-swiper-button {
                background-image: none;
                width: auto;
                height: auto;
                top: 50%;
                bottom: auto;
                margin-top: 0;
                transform: translateY(-50%);
                transition: opacity 0.2s;

                &.swiper-button-disabled {opacity: 0.4;}

                i {
                    font-size: 2.2rem;
                }
            }

            .swiper-button-next {
                right: 0;
            }
        }

        .wtc-map-wrap {
            padding: 0 15px;
        }
    }
}